<head>
  <link href="/stylesheets/nav.css" rel="stylesheet" type="text/css">
</head>
<div class="grid-container">
    <div class="ms-menu-logo">
      <a href="/lobby">
        <!-- <img src="/images/royal_flush.png"/> -->
      </a>
    </div>
    <nav class="ms-menu-link">
      <input type="checkbox" id="ms-menu-toggle" />
      <label for="ms-menu-toggle" class="ms-menu-icon">
        <i class="fa fa-bars"></i
      ></label>
      <ul>
        <li><a href="/authentication/logout">Logout</a></li>
      </ul>
    </nav>
  </div>
  