
    <link href="/stylesheets/nav.css" rel="stylesheet" type="text/css">
  </head>
    <nav class="top-nav">
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/authentication/logout">Logout</a></li>
      </ul>
    </nav>