<p>CHAT GOES HERE</p>
<!-- <script src="../../static/scripts/chat.js", defer></script> -->
<script src="/scripts/index.js" defer></script>
<script src="/scripts/games/index.js" defer></script>

<div id="chat-container"> 
    <div id="messages"></div>
    <label>
      <input id="chatMessage" name="chat-message" placeholder="Message..." />
    </label>
  </div>
