<!--  -->
<div id="game-board">
    <% for(let row = 0; row < 3; row++ ) { %>
    <div class="game-board-row">
      <% for(let column = 0; column< 3; column++) { %>
      <div
        class="game-cell"
        data-row="<%= row %>"
        data-column="<%= column %>"
      ></div>
      <% } %>
    </div>
    <% } %>
  </div>
  <div id="users-list">
    <template id="user-item">
      <div class="user"></div>
    </template>
  </div>
  