<head>
    <title>Texas_hold_em</title>
    <script src="/scripts/bundle.js" defer></script>
    <link href="/stylesheets/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="/stylesheets/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="/stylesheets/fontawesome/css/solid.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/minstyle.io.css" />
    <link rel="stylesheet" href="/stylesheets/games.css" />
  </head>
  