<html>
  <%- include('partials/head.ejs') %>
  <body>
    <div class="container">
      <div class="row">
        <h1>Texas Hold'Em | Home</h1>

        <form method="post" action="/authentication/login">
          <div class="row">
            <div class="col-sm">
              <div class="ms-form-group">
              </div>
            </div>
            <div>
                <button type="submit" value="Enter">Enter</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
