<form method="post" action="/authentication/login">
    <div class="row">
      <div class="col-sm">
        <div class="ms-form-group">
          <label><i class="far fa-envelope-open"></i> Email</label>
          <input name="email" autocomplete="email" placeholder="Email" />
        </div>
      </div>
      <div class="col-sm">
        <div class="ms-form-group">
          <label><i class="far fa-key"></i> Password</label>
          <input
            name="password"
            type="password"
            placeholder="Password"
            autocomplete="current-password"
          />
        </div>
      </div>
      <div>
        <input
          type="submit"
          value="Login"
          class="ms-btn ms-primary ms-fullwidth"
        />
      </div>
    </div>
  </form>
  