<body>
    <div id="playerslist">
        <label>List of Players</label>
          <% tablePlayers.forEach((user)=> { %>
            <label> <%= user.username %></label>
            <% }) %>
      </div>
</body>