<!--  -->
<div class="ms-menu">
    <div class="ms-menu-logo">
      <a href="/">
        <img src="/images/tic-tac-toe.png" />
      </a>
    </div>
    <nav class="ms-menu-link">
      <input type="checkbox" id="ms-menu-toggle" />
      <label for="ms-menu-toggle" class="ms-menu-icon">
        <i class="fa fa-bars"></i
      ></label>
      <ul>
        <li><a href="/authentication/login">Login</a></li>
        <li><a href="/authentication/register">Register</a></li>
      </ul>
    </nav>
  </div>
  