<!--  -->
<head>
  <link href="/stylesheets/nav.css" rel="stylesheet" type="text/css">
</head>
  <body class="top-nav">

    

  </label>
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/authentication/login">Login</a></li>
      <li><a href="/authentication/register">Register</a></li>
    </ul>
  </body>
  
  