<html>
<!--  -->
<head>
    <title>
        <%= title %>
    </title>
    <script src="/scripts/bundle.js"></script>
    <link rel=”stylesheet” href=”/stylesheets/home.css” />
</head>

<body>
    <h1> Game Room Page (authenticated) User ID: <%= id %></h1>
    <ul>
        <li><a href=”/userhome”>User's Home</a></li>
        <li><a href=”/tableroom/1”>Table Room $1/$3</a></li>
        <li><a href=”/tableroom/2”>Table Room $5/$10</a></li>
        <li><a href=”/tableroom/3”>Table Room $25/$50</a></li>
        <li><a href=”/tableroom/4”>Table Room $50/$100</a></li>
    </ul>
</body>

</html>