<html>
<%- include('partials/head.ejs') %>

  <body>
    <div class="container">
      <div class="row">
        <h1>Texas Hold'Em | Home</h1>

        <form method="post" action="/authentication/login">
          <div>
            <button type="submit" value="Enter">Enter</button>
          </div>
        </form>
      </div>
    </div>
  </body>

</html>