<html>
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/unauthenticated-nav.ejs') %>
    <div class="container">
      <div class="row">
        <h1>Texas Hold'Em</h1>

        <%- include('partials/login-form.ejs') %>
      </div>
    </div>
  </body>
</html>