<html>

<head>
    <title>
        Home Page
    </title>
    <script src="/scripts/bundle.js"></script>
    <link rel=”stylesheet” href=”/stylesheets/home.css” />
</head>

<body>
    <h1> Home Page (unauthenticated)</h1>
    <ul>
        <li><a href='/authentication/login'>Login</a></li>
        <li><a href='/authentication/sign-up'>Sign Up</a></li>
    </ul>
</body>

</html>