<html>
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/authenticated_nav.ejs') %>
    <div class="container">
      <div class="row">

        <div class="col-sm">
          <div id="chat-container">
            <div id="messages"></div>
            <label>
              <input
                id="chatMessage"
                name="chat-message"
                placeholder="Message..."
              />
            </label>
          </div>
        </div>
      </div>
    </div>

    <template id="available-game-item">
      <div>
        <li>
          <a href="#">Join <span>42</span></a>
        </li>
      </div>
    </template>
  </body>
</html>