<html>
  <body>
    <div class="grid-container">
      <%- include('partials/head.ejs') %>
      <div class="container">
        <%- include('partials/unauthenticated-nav.ejs') %>
        <h1>Texas Hold'Em | Login</h1>

        <%- include('partials/login-form.ejs') %>
      </div>
    </div>
  </body>
</html>