<html>
  <%- include('partials/head.ejs') %>
  <%- include('partials/authenticated_nav.ejs') %> 
  <body>
    <%-include('partials/game-table.ejs') %> 
    <%- include('partials/chat.ejs') %>

    <div id="playerslist">
      <label>List of Players</label>
      <form method="post" action="/api/games/playersList">
        <% tablePlayers.forEach(({ user_id })=> { %>
          <label> <% user_id %></label>
          <% }) %>
      </form>
    </div>
  </body>
</html>