<html>
  <%- include('partials/head.ejs') %>
  <%- include('partials/authenticated_nav.ejs') %> 
  <body>
    <%-include('partials/game-table.ejs') %> 
    <%- include('partials/chat.ejs') %>
  </body>
</html>