.grid-container {
  position: center;
}

.container {
  border: 3px;
  border-style: solid;
  border-radius: 5px;
  margin: 25px 500px 200px 500px;
  border-color: rgb(136, 54, 219);
  text-align: center;
}
